{{define "IPSegments" -}}
{{- if Contains . "." -}}
{{- $ip:= StringsSplit . "."}}
{{- $ip1:=index $ip 0 -}}
{{- $ip2:=index $ip 1 -}}
{{- $ip3:=index $ip 2 -}}
{{- $ip4:=index $ip 3 -}}
{{$ip1}},{{$ip2}},{{$ip3}},{{$ip4}},{{ . }}
{{- else -}}
,,,,{{.}}
{{- end}}
{{- end}}

{{define "AgentsDefault" -}}
Name,IP1,IP2,IP3,IP4,IP,LastScan,LastConnect,{{CSVString .AgentGroups}},Feed,UUID
{{ $groups := .AgentGroups -}}
{{- range $k, $v := .Agents -}}
{{$v.Name}},{{template "IPSegments" $v.IP }},"{{$v.LastScanned}}","{{$v.LastConnect}}",{{CSVString (GroupMembership $groups $v.Groups)}},{{$v.Feed}},{{$v.UUID}}
{{end}}
{{- end}}