{{define "Scan" -}}
{{.ScanID}},"{{.Name }}",{{ .Status }},{{ .Owner }},{{ .Enabled }},"{{ .RRules }}","{{ .LastModifiedDate }}"
{{- end}}

{{define "ScanHistoryDetail" -}}
"{{.Targets}}",{{.HistoryID}},"{{.PolicyName}}","{{.ScannerName}}","{{.ScanType}}","{{.AgentCount}}","{{.HostCount}}","{{ .LastModifiedDate }}"
{{- end}}


{{define "ScanHistoryHeader" -}}
ScanID, Name, Status, Owner, Enabled, RRules, Last Modified,Targets, HistoryID, Policy Name, Scanner Name, Scan Type, Agent Count, Host Count,Last Run
{{end}}

{{define "ScanHistory" -}}
{{- range .History -}}
{{template "Scan" $.Scan }},{{template "ScanHistoryDetail" .}}
{{end}}
{{- end}}

{{define "Scans" -}}
ScanID, Name, Status, Owner, Enabled, RRules, Last Modified
{{range $k, $v := . -}}
{{template "Scan" $v }}
{{ end }}
{{- end}}
