{{define "Usage" -}}
'tio.go' is an interface into Tenable.IO API using Go.

Find more information at:
    https://github.com/whereiskurt/tiogo/

Usage:
    tio [COMMAND] [SUBCOMMAND] [ACTION ...] [OPTIONS]

Commands:
    vm       Commands for Tenable.IO Vulnerability Management [default, can be omitted]
    server   Commands for local proxy and HTTP server instance
    cs       Commands for Tenable.IO Container Security [future!]
    webapp   Commands for Tenable.IO Webapp Scanner [future!]
    sc       .. backward compatibility with Security Centre? [future!]

Sub-command:
    vm:
      help, scanners, agents, agent-groups, scans, assets, export-assets, export-vulns, user, user-groups, target-groups

    server:
      start, stop

Global Options:
    Verbosity:
      --silent,  -s     Set logging/output level [level1]
      --quiet,   -q     Set logging/output level [level2]
      --info,    -v     Set logging/output level [level3-default]
      --debug,          Set logging/output level [level4]
      --trace,          Output to STDOUT and to log file [level5]
      --level=3         Sets the output verbosity level numerically [default]

For more help:
    $ tio vm help scanners
    $ tio vm help agents
    $ tio vm help scans

{{end}}