{{define "vm.Usage" -}}
'tio.go' is an interface into Tenable.IO API using Go.

Find more information at:
https://github.com/whereiskurt/tiogo/

Usage:
tio [COMMAND] [SUBCOMMAND] [ACTION ...] [OPTIONS]

{{end}}