{{define "complianceUsage"}}
Compliance Scan Summary - Using Exports of Scans
https://developer.tenable.com/reference#scans-export-request

Usage:
    tio vm compliance [ACTION ...] [OPTIONS]

Action:
    list

Export Scans Options:
    Selection modifiers:
    --id=[unique id of the scan]
    --uuid=[unique id of the scan]
    --history|history_id=[the uuid of the historical run]
    --offset=[previous scan offset to export. e.g. 0 current, 1 previous, 2 prevprevious]

Examples:
    ## Start examples of an export for scan id 1234 offset 0 (current scan)
    ## offset 1 (previous scan) and a specific history id 13545223
    $ tio compliance --id=1234 
    $ tio compliance list --id=1234 --csv
    $ tio compliance list --id=1234 --offset=1
{{end}}
    