{{define "exportScansUsage"}}
Bulk Exports of Scans
https://developer.tenable.com/reference#scans-export-request

Usage:
    tio vm export-scans [ACTION ...] [OPTIONS]

Action:
    start, status, get, query, tag

Export Scans Options:
    Selection modifiers:
    --id=[unique id of the scan]
    --uuid=[unique id of the scan]
    --history|history_id=[the uuid of the historical run]
    --offset=[previous scan offset to export. e.g. 0 current, 1 previous, 2 prevprevious]

Examples:
    ## Start examples of an export for scan id 1234 offset 0 (current scan)
    ## offset 1 (previous scan) and a specific history id 13545223
    $ tio export-scans start --id=1234 
    $ tio export-scans start --id=1234 --csv
    $ tio export-scans start --id=1234 --offset=1 --pdf --chapter=vuln_by_asset
    $ tio export-scans start --id=1234 --offset=1 --pdf --chapter=vuln_by_host
    
    ## Check this status of the started exports
    $ tio export-scans status --id=1234
    $ tio export-scans status --id=1234 --offset=1 --pdf 
    $ tio export-scans status --id=1234 --offset=1 --csv

    ## Download the export-scans file from Tenable.io
    $ tio export-scans get --id=1234
    $ tio export-scans get --id=1234 --offset=1
    $ tio export-scans get --id=1234 --offset=1 --pdf   
    $ tio export-scans get --id=1234 --offset=1 --csv  
    
    ## Apply tags to all assets found in the scan.
    $ ./tio export-scans tag --id=1234 --tag="owner:Sales,platform:Server,exposure:External"

{{end}}

{{define "ExportScansStart"}}
Successfully started scans export uuid='{{.FileUUID}}'

To review the status for 'READY' and then get the prepared file:

  ## Check this status of the started exports
  $ tio export-scans status --id={{.ScanID}} --history={{.HistoryID}} --format={{.Format}}

  ## Download the export-scan from Tenable.io (once 'READY')
  $ tio export-scans get --id={{.ScanID}} --history={{.HistoryID}} --format={{.Format}}
{{end}}

{{define "ExportScansStatus"}}
Requested export-scans status for uuid='{{.FileUUID}} scanid='{{.ScanID}}' histid='{{.HistoryID}}'
{{if eq .Status "READY"}}
Export status is "READY"! You can retrieve the download:
{{else}}
Export status is currently '{{.Status}}', once it becomes 'READY' you can get the file:
{{- end}}
    ## Retrieve the download. NOTE: Fails unless status is 'READY'
    $ tio export-scans get --id={{.ScanID}} --history={{.HistoryID}}

    ## Retrieve the file NOTE: Fails unless status is 'READY'
    $ tio export-scans get --id={{.ScanID}} --history={{.HistoryID}}
{{end}}

{{define "ExportScansGetNessus"}}
To use export-scans query convert Nessus XML to JSON

  ## Query downloaded export scans
  $ tio export-scans query --id={{.ScanID}} --history={{.HistoryID}} > nessus.json
{{end}}

{{define "ExportScansGet"}}
Successfully retrieved export-scans {{.Format}} for '{{.ScanName}}' 
(uuid='{{.FileUUID}}', scanid='{{.ScanID}}',histid='{{.HistoryID}}'.offset='{{.Offset}})

Cached downloaded raw file to '{{.CacheFilename}}'

Saved a local copy to '{{.Filename}}':
{{end}}

{{define "ExportScansTagsApply"}}
Applying tags from scanid='{{.ScanID}}',histid='{{.HistoryID}}'.offset='{{.Offset}} -- job id '{{.JobID}}'
{{end}}

{{define "ExportScansTagsUnapply"}}
Unapplying tags from scanid='{{.ScanID}}',histid='{{.HistoryID}}'.offset='{{.Offset}} -- job id '{{.JobID}}'
{{end}}