{{define "scansUsage" -}}
Agents are software installed on hosts that execute local host scans and report back to Tenable.io
    https://developer.tenable.com/reference#scans

Usage:
    tio vm scans [ACTION ...] [OPTIONS]

Action:
    list, details, hosts, plugins, query, get

Agents Options:
    Selection modifiers:
      --id=[unique id]
      --uuid=[schedule_uuid]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

    Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

    Examples:
      ## All scans in the system
      $ tio scans

      ## Current scan details,hosts and plugins
      $ tio scans details --id=1

      ## Download start/status/get scan for --id=1
      $ tio scans get --id=1

      ## Get the last 3x every run, keeping a maximum of 12 files in total across all runs.
      $ tio scans get --id=1 --depth=3 --keep=12
      
      ## Get the latest keeping 7x scans worth
      $ tio scans get --id=1 --depth=1 --keep=7
{{end}}

{{- /* TODO: Replace the hard to read printf with {{}} convention */ -}}
{{define "ScansListCSV" -}}
{{ printf "_time,ID,Name,Owner,Type,Enabled,ScheduleStart,ScheduleRules,LastRunDate,LastScanUUID,LastScheduleUUID\n" }}
{{- range $k, $v := .Scans -}}
    {{ printf "\"%s\",%s,\"%s\",\"%s\",\"%s\",\"%s\",\"%s\",\"%s\",%s,\"%s\",\"%s\"\n" (NowDateTime "2006-01-02T15:04:05") .ScanID .Name .Owner .Type .Enabled .StartTime .RRules .LastModifiedDate .UUID .ScheduleUUID }}
{{- end -}}
{{end}}


{{define "ScansDetailHeaderCSV" -}}
_time,ScanID,Name,PolicyName,Enabled,Owner,ScheduleUUID,ScanUUID,ScannerName,ScanType,Target,AgentGroups,HistoryCount,Last Status,Last StartTime,Last EndTime,Timestamp,RRules,Hosts Scanned,CriticalCount,HighCount,MediumCount,LowCount,InfoCount
{{- end}}

{{- /* TODO: Replace the .d.AgentGroup with with groupnames */ -}}
{{define "ScansDetailCSV" -}}
{{ NowDateTime "2006-01-02T15:04:05" }},{{.d.Scan.ScanID}},"{{.d.Scan.Name}}","{{.d.PolicyName}}","{{.d.Scan.Owner}}","{{.d.Scan.Enabled}}","{{.d.Scan.ScheduleUUID}}","{{.d.Scan.UUID}}","{{.d.ScannerName}}","{{.d.ScanType}}","{{.d.Targets}}","{{.d.AgentGroup}}","{{.d.HistoryCount}}","{{.d.Status}}","{{.d.ScanStart}}","{{.d.ScanEnd}}","{{.d.Timestamp}}","{{.d.Scan.RRules}}",{{.d.HostCount}},{{.d.PluginCriticalCount}},{{.d.PluginHighCount}},{{.d.PluginMediumCount}},{{.d.PluginLowCount}},{{.d.PluginInfoCount}}
{{- end}}