{{define "scansUsage" -}}
Agents are software installed on hosts that execute local host scans and report back to Tenable.io
    https://developer.tenable.com/reference#scans

Usage:
    tio vm scans [ACTION ...] [OPTIONS]

Action:
    list, details, hosts, plugins, query

Agents Options:
    Selection modifiers:
      --id=[unique id]
      --uuid=[schedule_uuid]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

    Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

    Examples:
      ## All scans in the system
      $ tio scans
      $ tio scans list --json

      ## Current scan details,hosts and plugins
      $ tio scans details --id=1
      $ tio scans hosts  --id=1
      $ tio scans plugins --id=1

      ##Historical scan details,hosts and plugins
      ## Current[0], Previous[1], PreviousPrevious[2],...
      $ tio scans details --id=1 --offset=3 --csv
      $ tio scans hosts --id=1 --offset=3 --csv
      $ tio scans plugins --id=1 --offset=3 --json

      ## Query 
      $ tio scans query --id=1 --offset=3 
{{end}}

{{define "ScansListCSV" }}
{{ printf "ID, Name, Type, Enabled, ScheduleStart,ScheduleRules,LastRunDate\n"  }}
{{- range $k, $v := .Scans -}}
    {{ printf "%s,%s,%s,%s,%s,%s,%s\n" .ScanID .Name .Type .Enabled .StartTime .RRules .LastModifiedDate}}
{{- end -}}
{{end}}