{{ define "CommandHeader" }}
An interface into the Tenable.io API using Go!

Version {{.ReleaseVersion}} {{.GitHash}}

{{- Gopher }}
Find more information at:
    https://github.com/whereiskurt/tiogo/
{{ end }}

{{define "vmUsage" -}}
Usage:
    tio [SUBCOMMAND] [ACTION ...] [OPTIONS]

Sub-commands:
    help, agents, agent-groups, scans, scanners, export-vulns, export-assets, export-scans, cache 

VM Options:
    Selection modifiers:
      --id=[unique id]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

VM Actions and Examples:
    $ tio cache clear all
    $ tio agent-groups
    $ tio scans
    $ tio agents
    $ tio help agents
    
    $ tio export-scans [start|status|get] --id=123
    $ tio export-vulns [start|status|get]
    $ tio export-assets [start|status|get]
{{end}}