{{define "vmUsage" -}}
Usage:
    tio [vm] [SUBCOMMAND] [ACTION ...] [OPTIONS]
Command:
    vm - optional and default
    
Sub-commands:
    help, agents, agent-groups, scans, scanners, export-scans, export-vulns, export-assets,  cache 

VM Options:
    Selection modifiers:
      --id=[unique id]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

VM Actions and Examples:
    $ tio help agents
    $ tio help scans
    $ tio help export-scans

    $ tio agents
    $ tio agent-groups
    $ tio scans
    
    $ tio export-scans [start|status|get|tag] --id=123
    $ tio export-vulns [start|status|get]
    $ tio export-assets [start|status|get]

    $ tio cache clear all
{{end}}