{{define "exportVulnsUsage"}}
Bulk Exports of Vulnerabilities
https://developer.tenable.com/reference#exports

Usage:
    tio vm export-vulns [ACTION ...] [OPTIONS]

Action:
    start, status, get, query

Export Vulns Options:
    Selection modifiers:
    --uuid=[unique id]
    --jqex=[jq expression]
    --chunk=[chunk to get, defaults: ALL]
    --critical, --high, --med[ium], --info  [severity to match for vulnerability]
    --after=[YYYY-MM-DD HH:MM:SS +/-0000 TZ] [date boundaries, or set 'days']
    --days=[number of days to go back to, instead of defining 'after']

Output Modes:
    --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

Examples:
    $ tio vm export-vulns start
    $ tio vm export-vulns start --after="2019-01-01" --crit
    $ tio vm export-vulns start --after="2019-01-01 00:00:00 -0400 EDT" --high,med,info
    $ tio vm export-vulns start --days=31 --critical --high

    $ tio vm export-vulns status
    $ tio vm export-vulns get
    $ tio vm export-vulns query --jqex="[.asset.ipv4, .asset.operating_system[0]]"
{{end}}


{{define "ExportVulnsStart"}}
Successfully started vulnerability export uuid='{{.ExportUUID}}'

Retrieving vulnerabilities since date of '{{.Since}}'

To review the status for 'FINISHED' and then get the export chunks:

    ## Check the status of the chunk file creation:
    $ tio vm export-vulns status --uuid={{.ExportUUID}}

    ## Retrieve all chunk files. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-vulns get --uuid={{.ExportUUID}}

{{end}}

{{define "ExportVulnsStatus"}}
Requested vulns status for uuid='{{.ExportUUID}}'.
{{if eq .Status "FINISHED"}}
Export status is "FINISHED"! You can retrieve the chunks:
{{else}}
Export status is currently '{{.Status}}', once it becomes 'FINISHED' you can get the chunks:
{{- end}}
    ## Retrieve all of the chunks. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-vulns get --uuid={{.ExportUUID}}

    ## Retrieve FINISHED chunks 1,2,3. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-vulns get --uuid={{.ExportUUID}} --chunk=1,2,3
{{end}}

{{define "ExportVulnsGet"}}
Successfully retrieved chunks='{{.Chunks}} for uuid='{{.ExportUUID}}'.

Options modifiers:
    --uuid=[unique id]
    --jqex=[jq expression]
    --chunk=[chunk to get]

    --critical, --high, --medium, --info [severity to match for vulnerability]
    --before,--after=[YYYY-MM-DD of date boundaries]
    --days=[number of days to bound query to, can be used with either 'before' or 'after']

Examples:
    ## Query
    ##Output all of the contents of the chunks as JSON
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --jqex=".[]"

    ##Output all of the contents of the chunks as JSON
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --jqex=".[]" --chunk=1,2

    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --critical --high --medium --days=45
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --critical --days=30

    ## These three examples all produce the same results -- 15 day time boxes
    ## Everything after 2019-01-01 and before 2019-01-15
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --critical --high --after 2019-01-01 --before 2019-01-15
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --critical --high --after 2019-01-01 --days=15
    $ tio vm export-vulns query --uuid='{{.ExportUUID}}' --critical --high --before 2019-01-15 --days=15   

{{end}}



{{define "exportAssetsUsage"}}
Bulk Exports of Assets
https://developer.tenable.com/reference#exports

Usage:
    tio vm export-assets [ACTION ...] [OPTIONS]

Action:
    start, status, get, query

Export Assets Options:
    Selection modifiers:
    --uuid=[unique id]
    --jqex=[jq expression]
    --chunk=[chunk to get, defaults: ALL]
    --after=[YYYY-MM-DD HH:MM:SS +/-0000 TZ] [date boundaries, or set 'days']
    --days=[number of days to go back to, instead of defining 'after']

Output Modes:
    --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

Examples:
    ## Start an export for all asses since the last_assessed date 365 days ago 
    $ tio vm export-assets start --days=365 

    ## Start an export for all assets last_assessed after 2019-01-01
    $ tio vm export-assets start --after="2019-01-01" 
    $ tio vm export-assets start --after="2019-01-01 00:00:00 -0400 EDT"

    ## Start an export for all assets last_assessed last 31 days
    $ tio vm export-assets start --days=31  
    
    ## Check the status of the requeste export.
    $ tio vm export-assets status

    ## Get all of the chunk files with asset data
    $ tio vm export-assets get
    $ tio vm export-assets get --chunk=ALL

    ## Use built-in 'jq' to query chunks files with JQ expression.
    $ tio vm export-assets query --jqex="[.asset.ipv4s[0], .asset.operating_system[0]]"

{{end}}

{{define "ExportAssetsStart"}}
Successfully started asset export uuid='{{.ExportUUID}}'

To review the status for 'FINISHED' and then get the export chunks:

    ## Check the status of the chunk file creation:
    $ tio vm export-assets status --uuid={{.ExportUUID}}

    ## Retrieve all chunk files. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-assets get --uuid={{.ExportUUID}}
{{end}}


{{define "ExportAssetsStatus"}}
Requested asset status for uuid='{{.ExportUUID}}'.
{{if eq .Status "FINISHED"}}
Export status is "FINISHED"! You can retrieve the chunks:
{{else}}
Export status is currently '{{.Status}}', once it becomes 'FINISHED' you can get the chunks:
{{- end}}
    ## Retrieve all of the chunks. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-assets get --uuid={{.ExportUUID}}

    ## Retrieve FINISHED chunks 1,2,3. NOTE: Fails unless status is 'FINISHED'
    $ tio vm export-assets get --uuid={{.ExportUUID}} --chunk=1,2,3
{{end}}

{{define "ExportAssetsGet"}}
Successfully retrieved chunks='{{.Chunks}} for uuid='{{.ExportUUID}}'.

Options modifiers:
    --uuid=[unique id]
    --jqex=[jq expression]
    --chunk=[chunk to get]

Examples:
    ##Output all of the contents of the chunks as JSON
    $ tio vm export-assets query --uuid='{{.ExportUUID}}' --jqex=".[]"

    ##Output all of the contents of the chunks as JSON
    $ tio vm export-assets query --uuid='{{.ExportUUID}}' --jqex=".[]" --chunk=1,2

{{end}}


{{define "exportScansUsage"}}
Bulk Exports of Scans
https://developer.tenable.com/reference#scans-export-request

Usage:
    tio vm export-scans [ACTION ...] [OPTIONS]

Action:
    start, status, get, query

Export Scans Options:
    Selection modifiers:
    --id=[unique id of the scan]
    --uuid=[unique id of the scan]
    --history|history_id=[the uuid of the historical run]
    --offset=[previous scan offset to export. e.g. 0 current, 1 previous, 2 prevprevious]

Examples:
    ## Start examples of an export for scan id 1234 offset 0 (current scan)
    ## offset 1 (previous scan) and a specific history id 13545223
    $ tio vm export-scans start --id=1234    
    $ tio vm export-scans start --id=1234 --offset=1   
    $ tio vm export-scans start --history=13545223
    
    ## Check this status of the started exports
    $ tio vm export-scans status --id=1234
    $ tio vm export-scans status --id=1234 --offset=1
    $ tio vm export-scans status --history=13545223
    
    ## Download the export-scans file from Tenable.io
    $ tio vm export-scans get --id=1234
    $ tio vm export-scans get --id=1234 --offset=1
{{end}}
