{{define "vmUsage" -}}
An interface into the Tenable.io API using Go!

Version {{.ReleaseVersion}} {{.GitHash}}

{{- Gopher }}
Find more information at:
    https://github.com/whereiskurt/tiogo/

Usage:
    tio [SUBCOMMAND] [ACTION ...] [OPTIONS]

Sub-commands:
    help, scanners, agents, agent-groups, export-vulns, cache (#TODO: scans)

VM Options:
    Selection modifiers:
      --id=[unique id]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

VM Actions and Examples:
    $ tio vm help agents
    $ tio vm help agent-groups
    $ tio vm help scanners
    $ tio vm help export-vulns
    $ tio vm help export-assets

{{end}}


{{define "scannersUsage"}}
Scanners conduct network based scanning and report results back to Tenable.io.
https://developer.tenable.com/reference#scanners

Usage:
    tio vm scanners [ACTION ...] [OPTIONS]

Action:
    list

Scanners Options:
    Selection modifiers:
    --id=[unique id]
    --name=[string]
    --regex=[regular expression]
    --jqex=[jq expression]

Output Modes:
    --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
    --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

Examples:
    $ tio scanners
    $ tio vm scanners
    $ tio vm scanners list
    $ tio vm scanners list --csv
    $ tio vm scanners list --json
    $ tio vm scanners list --regex '.*PROD[0-9][0-9]?.*'
{{end}}

{{define "agentsUsage" -}}
Agents are software installed on hosts that execute local host scans and report back to Tenable.io
    https://developer.tenable.com/reference#agents

Usage:
    tio vm agents [ACTION ...] [OPTIONS]

Action:
    list, group, ungroup

Agents Options:
    Selection modifiers:
      --id=[unique id]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

    Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

    Examples:
      $ tio agents
      $ tio agents list --without-group
      $ tio agents list --group "New Group Name"
      $ tio agents list --regex "New Group .+"

      ## Group and Ungroup Agents into Agent Groups
      $ tio agents group --group "New Group Name" --regex "10\.0\.2\"
      $ tio agents ungroup --group "New Group Name"
{{end}}

{{define "agentGroupsUsage"}}
Agents are put into Groups and used for the purposes of Agent Scans.
(https://cloud.tenable.com/api/#/resources/agent-groups)

Usage:
    tio vm agent-groups [ACTION ...] [OPTIONS]

Action:
    list, (TODO: create, delete)

Agents Options:
    Selection modifiers:
      --id=[unique id]
      --name=[string]
      --regex=[regular expression]
      --jqex=[jq expression]

    Output Modes:
      --csv   Set table outputs to comma separated files [ie. good for Excel + Splunk, etc.]
      --json  Set table outputs to JSON [ie. good for integrations and jq manipulations.]

    Examples:
      $ tio vm agent-groups list
      $ tio agent-groups

      ## TODO: Implement create, delete, and --as-target-groups
      $ tio vm agent-groups create --name "Agent Group #Y"
      $ tio vm agent-groups delete --name "Agent Group #Y"

      ## Output IP addresses of Agents to so we can create Target Groups
      $ tio vm agent-groups list --as-target-groups --size=16
{{end}}



{{define "cacheUsage"}}
Bulk Exports of Assets
https://developer.tenable.com/reference#exports

Usage:
    tio vm cache [ACTION ...] [OPTIONS]

Action:
    info, clear all, clear agents, clear scans, clear exports

Examples:
    ## Display cache folder locations that will be affected
    $ tio cache info

    ## Remove ALL cached entries including agents/scans/exports/
    $ tio cache clear all 

    ## Remove cached agents
    $ tio cache clear agents
    ## Remove cached scans
    $ tio cache clear scans

{{end}}


