// http://patorjk.com/software/taag/#p=display&f=Ivrit&t=gopher%0A
{{define "GopherTable"}}
++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++                    _                 +++++++++++++
+++   __ _  ___  _ __ | |__   ___ _ __   +++++++++++++
+++  / _` |/ _ \| '_ \| '_ \ / _ \ '__|  +++++++++++++
+++ | (_| | (_) | |_) | | | |  __/ |     +++++++++++++
+++  \__, |\___/| .__/|_| |_|\___|_|     +++++++++++++
+++  |___/      |_|                      +++++++++++++
+++                                      +++++++++++++
+----------------------------------------------------+
{{ printf "| %-4s|%-10s|%-35s| " "ID" "Name" "Description" }}
+----------------------------------------------------+
{{range $k, $v := . -}}
    {{ printf "| %-4s|%-10s|%-35s|\n" .ID .Name .Description }}
{{- end -}}
+----------------------------------------------------+
{{end}}

{{define "ThingTable"}}
++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++
+++++  _   _     _               +++++++++++++
+++++ | |_| |__ (_)_ __   __ _   +++++++++++++
+++++ | __| '_ \| | '_ \ / _` |  +++++++++++++
+++++ | |_| | | | | | | | (_| |  +++++++++++++
+++++  \__|_| |_|_|_| |_|\__, |  +++++++++++++
+++++                    |___/   +++++++++++++
+++++                            +++++++++++++
+--------------------------------------------+
{{ printf "| %-4s| %-10s| %-25s|" "ID" "Name" "Description"}}
+--------------------------------------------+
{{range $kg, $vg := . -}}
    {{ printf "| %-4s |%-10s| %-25s|\n" .ID .Name .Description }}
{{- end -}}
+------------------------------------------+
{{end}}

{{define "GopherThingsTable"}}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++                    _               _   _     _              +++++++++++++++
++++   __ _  ___  _ __ | |__   ___ _ __| |_| |__ (_)_ __   __ _  +++++++++++++++
++++  / _` |/ _ \| '_ \| '_ \ / _ \ '__| __| '_ \| | '_ \ / _` | +++++++++++++++
++++ | (_| | (_) | |_) | | | |  __/ |  | |_| | | | | | | | (_| | +++++++++++++++
++++  \__, |\___/| .__/|_| |_|\___|_|   \__|_| |_|_|_| |_|\__, | +++++++++++++++
++++  |___/      |_|                                      |___/  +++++++++++++++
++++                                                             +++++++++++++++
+------------------------------------------------------------------------------+
{{ printf "| %-4s|%-10s|%-30s| %-4s| %-11s|%-11s|" "ID" "Name" "Description" "ID" "Thing.Name" "Description" }}
+------------------------------------------------------------------------------+
{{range $kg, $vg := . -}}
{{range $kt, $vt := .Things -}}
{{ printf "| %-4s|%-10s|%-30s| %-4s| %-11s|%-11s|\n" $vg.ID $vg.Name $vg.Description $vt.ID $vt.Name $vt.Description }}
{{- end -}}
{{if not .Things}}{{printf "| %-4s|%-10s|%-30s| %-4s| %-11s|%-11s|\n" $vg.ID $vg.Name $vg.Description "" "" "" }}{{end}}
{{- end -}}
+------------------------------------------------------------------------------+
{{end}}
